{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<div class="container">
    <div class="row">
        <div class="col-md-12 border rounded p-1 mb-0" id="dark_bg">
            <h1 id="light_txt"> Parte {{ Constants.part_post_min }}. <span id="bright_txt">Elección de Números</span></h1>
        </div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 border rounded" id="light_bg">
            <br>
            <h4>Antes de continuar, por favor conteste las siguientes preguntas de comprensión:</h4>
            <br>
            <p>
            <b>1. En la Parte {{ Constants.part_post_min }} va a interactuar con el mismo grupo de participantes de la
                Parte {{ Constants.part_coord }}?</b>
            <br>
            <small>{% formfield player.q_samegroup label="" %}</small>
            </p>
            <p>
            <b><i>Considere el caso en el que usted eligió 25 y los números elegidos por los otros tres participantes son 19, 49 y 36.
                Por favor responda a las siguientes preguntas:</i></b>
            </p>
            <br>
            <p>
            <b>2. Cuál es el menor número elegido en su grupo?</b>
            <br>
            <small>{% formfield player.q_min label="" %}</small>
            </p>
            <p>
            <b>3. Cuántos dólares experimentales ganaría usted en este ejemplo?</b>
            <br>
            <small>{% formfield player.q_pay label="" %}</small>
            </p>
            <button type="otree-btn-next" class="btn button btn-md" style="float: right;"> Continuar </button>
            <br><br>
        </div>
    </div>
</div>

{% endblock %}


{% block styles %}
    <style type="text/css">
        #cy {
            width: 100%;
            height: 100%;
            display: block;
        }
        .message{
            background-color: #FDD835;
            color:#000000;
        }
        #light_bg{
            background-color: #CFD8DC;
        }
        #medium_bg{
            background-color: #37474F;
        }

        #dark_bg{
            background-color: #263238;
        }
        #light_txt{
            color: #ffffff;
        }
        #medium_txt{
            color: #3E2723;
        }
        #dark_txt{
            color: #000000;
        }
        #bright_txt {
            color: #B3E5FC;
        }
        .center {
            text-align: center;
        }
        .button {
            background-color: #FDD835;
            color: #37474F;
            border: 2px solid #F9A825
        }
        .button:hover {
            background-color: #B3E5FC;
            color: #000000;
            border: 2px solid #3E2723
        }
    </style>
{% endblock %}